// COLORS
$primary-color: #ff0000;
$secondary-color: #004aff;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$main-background-color: #060000;

$footer-color: #060000;

$main-text-color: #ffffff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
